body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


/* Grid layout  */
.Application {
  margin: 0 auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: [profile-start] 1fr
                         [main-start] 2fr
                         [main-end] 2fr;
  grid-template-rows: [main-start] auto
                      [main-end] auto;
}

.Application--new-message {
  grid-column: profile-start / span 4;

}

.Application--auth {
  grid-column: profile-start / main-start;
}

.Application--messages-container {
  grid-column: main-start / span 3;
}

/* form section */
form {
  text-align: center;
}

form > * {
  margin-right: 1em;
}

#new_message {
  width: 70%;
}

/* post messages */
.post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.post > * {
  /*flex-basis: 200px;*/
  margin-right: 1em;
}

.post > p {
  word-break: break-word;
}

.post .post--image > img {
  border-radius: 50%;
}

/* loader */

/*$offset: 187;*/
/*$duration: 1.4s;*/

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
  dash 1.4s ease-in-out infinite,
  colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
  0% { stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 187/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform:rotate(450deg);
  }
}