body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


/* Grid layout  */
.Application {
  margin: 0 auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: [profile-start] 1fr
                         [main-start] 2fr
                         [main-end] 2fr;
  grid-template-rows: [main-start] auto
                      [main-end] auto;
}

.Application--new-message {
  grid-column: profile-start / span 4;

}

.Application--auth {
  grid-column: profile-start / main-start;
}

.Application--messages-container {
  grid-column: main-start / span 3;
}

/* form section */
form {
  text-align: center;
}

form > * {
  margin-right: 1em;
}

#new_message {
  width: 70%;
}

/* post messages */
.post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.post > * {
  /*flex-basis: 200px;*/
  margin-right: 1em;
}

.post > p {
  word-break: break-word;
}

.post .post--image > img {
  border-radius: 50%;
}

/*  */
